{% import_yaml "logstash/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            'sysconfig_file': '/etc/default/logstash'
        },
        'RedHat': {
            'sysconfig_file': '/etc/sysconfig/logstash'
        },
    },
    grain="os_family",
    merge=salt['pillar.get']('logstash:lookup'))
%}

{% do default_settings.logstash.update(os_family_map) %}

{% set ls = salt['pillar.get'](
        'logstash',
        default=default_settings.logstash,
        merge=True
    )
%}
